@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  /* ### Primary */

  --Red: hsl(0, 78%, 62%);
  --Cyan: hsl(180, 62%, 55%);
  --Orange: hsl(34, 97%, 64%);
  --Blue: hsl(212, 86%, 64%);

  /* ### Neutral */

  --Very-Dark-Blue: hsl(234, 12%, 34%);
  --Grayish-Blue: hsl(229, 6%, 66%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
}

body {
  width: 100%;
  height: fit-content;
  background-color: var(--Very-Light-Gray);
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
}

main {
  width: 314px;
  margin: 90px auto 40px;
}

.text {
  text-align: center;
  margin: 0 auto;
}

.text h1 {
  color: var(--Very-Dark-Blue);
  font-weight: 200;
  /* font-size: 40px; */
}
.text span {
  font-weight: 600;
}
.text p {
  color: var(--Grayish-Blue);
  margin: 12px 0 76px;
}

.card {
  height: 223px;
  background-color: #fff;
  border-radius: 10px;
  padding: 25px;
  color: var(--Very-Dark-Blue);
  position: relative;
  margin-bottom: 25px;
  box-shadow: 3px 9px 15px -4px rgba(74, 74, 74, 0.52);
}
.card:hover {
  transform: scale(1.04);
}

.card p {
  width: 230px;
}

.card img {
  width: 60px;
  height: auto;
  position: absolute;
  transform: translate(195px, 25px);
}

.supervisor {
  border-top: 5px solid var(--Cyan);
}
.team {
  border-top: 5px solid var(--Red);
}
.karma {
  border-top: 5px solid var(--Orange);
}
.calculator {
  border-top: 5px solid var(--Blue);
}
.attribution {
  text-align: center;
  align-items: center;
  margin: 0 auto 40px;
  font-size: 11px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
.attribution a:hover {
  font-weight: 600;
}

@media (min-width: 820px) {
  body {
    width: 100%;
    margin: 0 auto;
  }
  main {
    width: 1440px;
    margin: 90px auto;
    justify-content: center;
  }
  .text {
    margin: 0 auto;
  }
  .text h1 {
    font-size: 40px;
  }
  .text p {
    font-size: 17px;
  }

  .card {
    width: 350px;
    height: 250px;
    margin-bottom: 0;
  }
  .card img {
    width: 60px;
    position: absolute;
    transform: translate(225px, 30px);
  }

  .tools {
    width: 1114px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 30px 30px;
    grid-template-areas:
      '. team .'
      'supervisor team calculator'
      'supervisor karma calculator'
      '. karma .';
  }
  .karma {
    grid-area: karma;
  }
  .supervisor {
    grid-area: supervisor;
  }
  .team {
    grid-area: team;
  }
  .team img {
    margin-right: 50px;
  }
  .calculator {
    grid-area: calculator;
  }
}
